@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: auto;
    background-color: black;
    overflow-x: hidden;
    user-select: none;
}
/*Custom Scroll bar*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, rgb(138, 0, 252),rgb(255, 22, 158));
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to bottom, rgb(138, 0, 252),rgb(255, 22, 158));
}
/*splash-screen*/
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    top: 0;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(138, 0, 252),rgb(255, 22, 158));
    transition: 1s;
}

.logoheader{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    font-size: 80px;
}
.logos{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logos.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.7s;
}
.logos.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.7s;
}
/*header*/
header{
    position: fixed;
    background: transparent;
    width: 100%;
    backdrop-filter: blur(10px) saturate(100%);
    height: 85px;
    margin-left: 5px;
    box-shadow: 0 10px 15px rgb(48, 47, 47);
    border-radius: 27px;
}
/*nav*/
nav{
    width: 100%;
    height:10vh;
}
.nav-container{
    width: 1005;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container .links{
    display: flex;
}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 25px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
    left: 15rem;
}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, rgb(138, 0, 252),rgb(255, 22, 158));
    transition: 0.3s linear;
}
.nav-container .links a:hover{
    background-image: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
}
.nav-container .links a:hover::before{
    width: 100%;
}
.nav-container .links a.active {
    background-image: linear-gradient(to bottom, rgb(138, 0, 252), rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.nav-container .links a.active::before {
    width:100%;
}
.nav-container .toggle_btn{
    position: relative;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    left: 4.5rem;
}
.nav-container .toggle_btn:hover{
    background-image: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    transition: 1s linear;
}
 /*logo*/
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.logo span{
    background-image: linear-gradient(to bottom right, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 8px rgb(138, 0, 252);
}
/*toggle menu*/
.dropdown{
    position: absolute;
    width: 250px;
    right: 1.7rem;
    top: 110px;
    height: 0;
    background: black;
    box-shadow: 0 0 20px rgba(180, 43, 235, 0.774), 0 0 10px #f834ff;
    transition: 0.5s linear;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown.open{
    height: 140px;
}
.dropdown .links a{
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    margin-top: 9px;
    align-items: center;
    transition: 0.3s linear;
    font-size: 18px;
}
.dropdown .links a:hover{
    background-image: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
/*Home*/
section{
    width: 100%;
    min-height: 90vh;
    scroll-margin-top: 130px;
}
.main-container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.main-container .image{
    width:550px;
    height: 70vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px rgb(138, 0, 252), 0 0 30px rgb(255, 22, 158);
    margin-top: 160px;
    margin-bottom: 150px;
}
.main-container .image img{
    width: 100%;
}
.main-container .image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}
.main-container .content{
    color: white;
    width: 40%;
    min-height: 100px;
}
.content h1{
    font-size: clamp(1rem,1rem + 5vh, 1.8rem);
}
.content h1 span{
   color: white;
   text-shadow: 0 0 5px rgb(138, 1, 252),0 0 10px rgb(138, 1, 252),0 0 15px rgb(138, 1, 252);
}
.content .typewriter{
    font-size: clamp(1rem,1rem + 5vh,2.3rem);
    font-weight: 600;
}
.content .typewriter-text{
    font-weight: 0;
    background: linear-gradient(to top left, rgb(255, 22, 158),rgb(138, 1, 252));
    background-clip: text;
    color: transparent;
}
/*All button*/
.btn button{
    width: 35%;
    height: 4vh;
    margin: 25px;
    background: linear-gradient(to  bottom right, rgb(138, 0, 252),rgb(255, 22, 158));
    color: rgb(0, 0, 0);
    border-radius: 9px;
    border: none;
    font-size: 110%;
    font-weight: 700;
    transition: 0.2s linear;
    cursor: pointer;
    align-self: center;
    margin-top: 60px;
}
.btn button:hover{
    scale:1.1;
    background-image: linear-gradient(to top left, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    border: 2px solid rgb(138, 0, 252);
    font-weight: 700;
    box-shadow: 10px 0 35px rgb(138, 0, 252), -10px 0 35px rgb(255, 22, 158) ;
}
.btn button a{
    color: inherit;
}
.btn button a:hover{
    text-decoration: none;
    color: inherit;
}
/*about*/
section .content{
    width: 80%;
    margin: 0px auto;
    font-family : 'Popins',sans-serif;
}
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    user-select: none;
}
section .title span{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(138, 0, 252);
    left:0;
    bottom: 0;
}
section .title span::after{
    bottom: -8px;
    width: 70%;
    left:50%;
    transform:translateX(-50%);
}
.about .about-details .left{
    width: 37%;
    position: relative;
}
.about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
    padding-left: 3px;
    padding-top: 3px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.about .left::after, .about .left::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( from var(--angle), transparent 72%, rgb(138, 0, 252),rgb(255, 22, 158));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 11px;
    animation: 4s spin linear infinite;
}
.about .left::before{
    filter: blur(1.8rem);
    opacity: 0.8;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.about-details .right{
    width:55%;
}
section .topic{
    background: linear-gradient(to right top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
section .about-details .right p{
    text-align: justify;
    color: white;
}
/*skills*/
.skills{
    background: black;
}
.skills .content{
   padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
}
.skills-details .text .topic{
    background: linear-gradient(to right top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
}
.skills-details p{
    color: white;
    text-align: justify;
}
.skills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-details .box{
    width: calc(100%/2 - 20px);
    margin: 20px 0;
}
.skills-details .boxes .topic{
    font-size: 22px;
    background-image: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
}
.photoshop-icon {
    display: inline-block;
    background: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    color: black;
    font-weight: bold;
    font-size: 12px;
    width: 21px;
    height: 21px;
    line-height: 20px;
    border-radius: 3px;
    border: 2px solid linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    font-family: "Arial", sans-serif;
    text-align: center;
  }
/*Service*/
.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .boxes .box{
    margin: 20px 0;
    width: calc(100%/3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 0px 5px 10px rgba(255, 255, 255, 0.12);
    cursor: grab;
    color: white;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: transparent;
    color:  rgb(138, 0, 252);
    box-shadow: 0 5px 10px rgb(138, 0, 252), 0 5px 7px rgb(255, 22, 158);
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgb(138, 0, 252);
    box-shadow: 0 5px 10px rgb(138, 0, 252), 0 5px 7px rgb(255, 22, 158);
    line-height: 50px;
    font-size: 18px;
    color: rgb(138, 0, 252);
    margin: 0 auto 10px auto;
    transition: all 0.5s ease;
}
.services .boxes .box p{
    background-image: linear-gradient(to bottom right, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
}
.services .boxes .box:hover .icon{
    background-color:  rgb(138, 0, 252);
    color: white;
    box-shadow: none;
}
.services .boxes .box:hover .topic{
    background-image: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
}
.services .boxes .box:hover p{
    color: white;
    text-shadow: 0 1px 1px whitesmoke;
}
/*contact*/
.contact{
    background: black;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content p{
    color: white;
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}
.contact-form-con{
    background-color: transparent;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.contact-form label{
    display: block;
    background-image: linear-gradient(to top, rgb(138, 0, 252),rgb(255, 22, 158));
    background-clip: text;
    color: transparent;
    margin-bottom: 8px;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea{
    width:100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border-color: rgb(154, 3, 255);
    outline:none;
}

footer{
    background: linear-gradient(to  bottom right, rgb(138, 0, 252),rgb(255, 22, 158));
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
footer .text span a{
    font-weight: 500;
    color: white;
}
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background: rgb(138, 0, 252);
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12);
    display: none;
}
/*All screen compatibility*/
@media (max-width: 1000px){
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100%/2-20px);
  }
}
@media (max-width:900px){
    .about .left img{
        height: 350px;
        width: 350px;
    }   
}
@media (max-width:968px){
    .logoheader{
        font-size: 40px;
        z-index: -1;
        width:41%;
        height: 5%;
    }
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }
    section .main-container{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .nav-container .links{
        display: none;
    }
    .nav-container .toggle_btn{
        position: absolute;
        top: 20px;
        right: 25px;
        left:auto;
        z-index: 1000;
    }
    .dropdown{
        display:block;
    }

    .main-container .content{
        margin-top: 20px;
        width: 80%;    
    }
    .main-container .image{
        z-index: -1;
        width:50%;
        height: 60%;
    }
    .skills .skills-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text{
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxes .box{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: 100%;
    }
}
@media (max-width:768px){
    .contact-form-con{
        padding: 10px;
    }
}

@media (max-width:480px){
    .contact-form{
        padding: 0px;
    }
    .dropdown{
        left: 2rem;
        width: unset;
    }
    .toggle_btn{
        left:-4.5rem;
    }
}
